<header>
  <div>
    <img src="../../../assets/RickMorty8.webp" alt="">
    <nav>
      <a routerLink="">
        <div>
          <img src="../../../assets/rick-and-morty-portal-shoes-white-clothing-zavvi-23.png" alt=""> Home
        </div>
      </a>
      <a routerLink="/characters">
        <div>
          <img src="../../../assets/rick__morty_and_stan_png_by_lalingla_dbrsowp-fullview.png" alt="">Characters
        </div>
      </a>
      <a routerLink="/locations">
        <div>
          <img src="../../../assets/rick__morty_and_stan_png_by_lalingla_dbrsowp-fullview.png" alt="">Locations
        </div>
      </a>
      <a routerLink="/characterAdd">
        <div>
          <img src="../../../assets/112-1128821_rick-and-morty-portal-png-clip-library-stock.png" alt=""> CharacterAdd
        </div>
      </a>
    </nav>
  </div>
</header>

